/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
  position: relative; /* Needed for absolute positioning of video */
  background-image: url("https://cdn.dribbble.com/users/2158940/screenshots/7767460/media/603dc6ac6bbeab4287c5a16125e087a6.png?compress=1&resize=1200x900");
  background-repeat: no-repeat;
  background-size: cover;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: rgba(16, 196, 61, 0.8); 
  border: 2px solid black;
  position:absolute;
  margin-top: 12%;
  margin-right: 50%;
  width: 1350px;
  height: 700px;
  background-color: #6c757d;
  justify-content: center;
  overflow: scroll;
}

.container-content {
  text-align: center; /* Center inline or inline-block elements */
  /* OR */
  /* margin: 0 auto; */ /* Center block-level elements with a specified width */
}

input{
  padding: 10px;
  width: 200px;
  margin-right: 40px;
  border: 2px solid rgb(31, 29, 26);
}
button{
  padding: 10px;
  width: 100px;
  margin-right: 40px;
  background-color: goldenrod;
  border-radius: 5px;
  
}
button:hover {
  background-color: rgb(90, 11, 11);
  transition:50ms;
}





.weather-info {
  /* background-color: #1bac8d;  */
  /* White background for weather information */
  padding: 20px;
  border-radius: 8px;
  border: 2px solid hwb(0 0% 100% / 0.822);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
  margin-top: 20px;
  justify-content: center;
  border: 2px solid yellow;
  
}
li{
  color: white;
}

.error {
  color: red;
  font-weight: bold;
}

.form {
  margin-bottom: 20px;
}

.form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

.form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.weather-info h2 {
  margin-top: 0;
}

.weather-info p {
  margin-bottom: 8px;
}

.inp-1{
  border: 15px solid black;
}